<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.kkngai.estorecheckout.mapper.RoleMapper">

    <resultMap id="roleResultMap" type="io.github.kkngai.estorecheckout.model.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <select id="findById" resultMap="roleResultMap">
        SELECT role_id, role_name
        FROM roles
        WHERE role_id = #{roleId}
    </select>

    <select id="findByRoleName" resultMap="roleResultMap">
        SELECT role_id, role_name
        FROM roles
        WHERE role_name = #{roleName}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO roles (role_name)
        VALUES (#{roleName})
    </insert>

    <update id="update">
        UPDATE roles
        SET role_name = #{roleName}
        WHERE role_id = #{roleId}
    </update>

    <delete id="deleteById">
        DELETE FROM roles
        WHERE role_id = #{roleId}
    </delete>

</mapper>